{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

{% load static %}

<div class="container mt-4">

  {% if request.session.curr_user != '' %}

    <h1 class="mb-4">Welcome to MyGameTracker, {{ request.session.curr_user }}!</h1>
    <br>
    <br>
    <!-- Card -->
    <div class="modal fade" id="promoModal" tabindex="-1" aria-labelledby="promoModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="promoModalLabel">Promo Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'game:add_new_game' %}">
              {% csrf_token %}
              <!-- Title -->
              <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- Set1 -->
    <h3 class="mb-3">Games For You:</h3>
    <div id="gameCarousel1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for game in games_for_you %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row">
              <div class="col-md-6">
                <div class="carousel-caption text-start">
                  <h5>{{ game.title }}</h5>
                  <p>Rating: {{ game.rating }}/10</p>
                </div>
              </div>
              <div class="col-md-6">
                <img src="{{ game.image }}" class="d-block mx-auto img-fluid" alt="{{ game.title }}">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#gameCarousel1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#gameCarousel1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <br>
  <br>
  <br>
   <!-- Set2 -->
    <h3 class="mb-3">Top Rated Games:</h3>
    <div id="gameCarousel2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for game in games_for_you2 %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row">
              <div class="col-md-6">
                <div class="carousel-caption text-start">
                  <h5>{{ game.title }}</h5>
                  <p>Rating: {{ game.rating }}/10</p>
                </div>
              </div>
              <div class="col-md-6">
                <img src="{{ game.image }}" class="d-block mx-auto img-fluid" alt="{{ game.title }}">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#gameCarousel2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#gameCarousel2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  {% else %}

  <div class="alert alert-dismissible fade show border border-light">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Info!</strong> You are currently not logged in.
  </div>
  <h1 class="mb-4">Welcome to MyGameTracker!</h1>

  {% endif %}

</div>

{% endblock %}
