<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'game:home' %}"><b>MyGameTracker</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.session.curr_user != '' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'game:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stats:search' %}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forum:main' %}">Forum</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown">
            Account
          </a>
          <div class="dropdown-menu dropdown-menu-dark bg-dark border border-secondary">
            <a class="dropdown-item" href="{% url 'user:profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'user:friends' %}">Friends</a>
            <a class="dropdown-item" href="{% url 'collection:main' user=request.session.curr_user %}">Collections</a>
            <div class="dropdown-divider bg-secondary"></div>
            <a class="dropdown-item" href="{% url 'user:logout' %}">Log Out</a>
          </div>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stats:search' %}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forum:main' %}">Forums</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown">
            Account
          </a>
          <div class="dropdown-menu dropdown-menu-dark bg-dark border border-secondary">
            <a class="dropdown-item" href="{% url 'user:signup' %}">Sign Up</a>
            <div class="dropdown-divider bg-secondary"></div>
            <a class="dropdown-item" href="{% url 'user:login' %}">Log In</a>
          </div>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>
