<form class="d-flex">
      <input class="form-control me-2" type="text" placeholder="Search">
      <button class="btn text-light" type="button">Search</button>
</form>


<button type="button" class="btn btn-outline-primary d-flex align-middle py-2 mx-1"
        style="z-index:3; position:relative;"
        data-bs-toggle="modal" data-bs-target="#deleteModal">
    <span class="material-symbols-outlined">Delete</span>
</button>
<button type="button" class="btn btn-primary d-flex align-middle py-2 mx-1"
        style="z-index:3; position:relative;"
        data-bs-toggle="modal" data-bs-target="#renameModal">
    <span class="material-symbols-outlined">Edit</span>
</button>
