{% load static %}

{% if current_user != '' %}
<!-- Redirect to login page during invalid session -->
{% endif %}

<!DOCTYPE html>
<html lang=""en>
  <head>
    <meta charset="UTF-8">
    <title> {{ request.session.curr_user }}'s Games List | MyGameTracker </title>
    <link rel="icon" href="../media/favicon.png">
    <link rel="stylesheet" href="{% static 'css/style-main.css' %}">
    <script src="{% static 'scripts/script.js' %}"></script>
  </head>
  <body>
    <nav class="nav-container">
      <div class="navbar-div-left">
        <a href="../index.html" class="web-logo"><div class="nav-element"><img src="{% static 'media/logo.png' %}" height="40" alt="logo"></div></a>
        <a href="../browse/" class="nav-interactable"><div class="nav-element"> GAMES </div></a>
        <a href="register-login.html" class="nav-interactable"><div class="nav-element"> FORUMS </div></a>
      </div>
      <div class="navbar-div-right">
        <a href="register-login.html" class="nav-interactable"><div class="nav-element"> MY LIST </div></a>
        <a href="register-login.html" class="nav-interactable"><div class="nav-element"> MY COLLECTIONS </div></a>
        <a href="register-login.html"><div class="nav-element"> <img src="{% static 'media/default_user.png' %}" width="48" height="48"> {{ request.session.curr_user }} </span></div></a>
      </div>
    </nav>
    <header>
      <img src="{% static 'media/logo.png' %}">
      <h1 style="font-family: 'LGCafe'; color: white;"> How many games have you played in your life? </h1>
    </header>
    <h1 style="margin-bottom: 5px; font-family: 'Raleway'; font-weight: bolder; text-align: center; font-size: 48px;"> Viewing {{ request.session.curr_user }}'s Game List </h1>
    <main>
      <div class="filter-list">
        <div class="search-list">
          <input class="generic-form-textbox" type="search" placeholder="Search this list..." name="list_search">
        </div>
        <div class="status-count-box">
          <div class="count-displayer">
            <div class="status-icon"> </div>
            <div class="display-title"> All </div>
            <div id="all-counter" class="display-count"> {{ all_cnt }} </div>
          </div>
          <div class="count-displayer">
            <div class="status-icon"><img src="{% static 'media/ui/green.png' %}" width="13" height="13"></div>
            <div class="display-title"> Currently Playing </div>
            <div id="cp-counter" class="display-count"> {{ cp_cnt }} </div>
          </div>
          <div class="count-displayer">
            <div class="status-icon"><img src="{% static 'media/ui/blue.png' %}" width="13" height="13"></div>
            <div class="display-title"> Completed </div>
            <div id="com-counter" class="display-count"> {{ com_cnt }} </div>
          </div>
          <div class="count-displayer">
            <div class="status-icon"><img src="{% static 'media/ui/yellow.png' %}" width="13" height="13"></div>
            <div class="display-title"> On Hold </div>
            <div id="oh-counter" class="display-count"> {{ oh_cnt }} </div>
          </div>
          <div class="count-displayer">
            <div class="status-icon"><img src="{% static 'media/ui/gray.png' %}" width="13" height="13"></div>
            <div class="display-title"> Planning to Play </div>
            <div id="ptp-counter" class="display-count"> {{ ptp_cnt }} </div>
          </div>
          <div class="count-displayer">
            <div class="status-icon"><img src="{% static 'media/ui/red.png' %}" width="13" height="13"></div>
            <div class="display-title"> Dropped </div>
            <div id="dr-counter" class="display-count"> {{ dr_cnt }} </div>
          </div>
        </div>
        <!--
        <div class="sort-list">
          <div class="sort-container">
            <div class="sort-title"> Sort List By </div>
            <div class="sort-dropdown">
              <div class="dropdown-styling">
                <div class="dropdown">
                  <input class="generic-form-dropdown" type="text" value="Rating" onclick="toggleDropdown(this)" name="sort_by_value" readonly>
                  <ul class="dropdown-options">
                    <li onclick="selectOption(this)"> Title </li>
                    <li onclick="selectOption(this)"> Rating </li>
                  </ul>
                </div>
                <div class="dropdown-icon"></div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="game-list">

        <div class="tabular-data">
          <h2> Currently Playing </h2>
          {% if cp_cnt > 0 %}
          <table style="width:100%">
            <tr>
                <th style="width: 5%"> </th>
                <th style="width: 75%; text-align: left;"> Title </th>
                <th style="width: 15%"> Score </th>
                <th style="width: 5%"> </th>
            </tr>
            {% for g in cp_list %}
            <tr>
                <td style="text-align: center;"> <img src="{% static g.game_id.img_local_link %}" class="game-list-image"> </td>
                <td> {{ g.game_id.title }} {% if g.review != '' %} <p class="review-paragraph"> {{ g.review }} </p> {% endif %} </td>
                <td style="text-align: center;"> {% if g.score > 0 and g.score < 11 %} {{ g.score }} {% endif %} </td>
                <td style="text-align: center;"> <a href="javascript:void(0);" onclick="showPrompt(this)" game-id="{{ g.id }}">Edit</a> </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1 style="text-align: center; color: grey;"> YOU HAVE NO GAMES TO PLAY </h1>
          {% endif %}
        </div>

        <div class="tabular-data">
          <h2> Completed </h2>
          {% if com_cnt > 0 %}
          <table style="width:100%">
            <tr>
                <th style="width: 5%"> </th>
                <th style="width: 75%; text-align: left;"> Title </th>
                <th style="width: 15%"> Score </th>
                <th style="width: 5%"> </th>
            </tr>
            {% for g in com_list %}
            <tr>
                <td style="text-align: center;"> <img src="{% static g.game_id.img_local_link %}" class="game-list-image"> </td>
                <td> {{ g.game_id.title }} {% if g.review != '' %} <p class="review-paragraph"> {{ g.review }} </p> {% endif %} </td>
                <td style="text-align: center;"> {% if g.score > 0 and g.score < 11 %} {{ g.score }} {% endif %} </td>
                <td style="text-align: center;"> <a href="javascript:void(0);" onclick="showPrompt(this)" game-id="{{ g.id }}">Edit</a> </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1 style="text-align: center; color: grey;"> YOU HAVE NO COMPLETED GAMES </h1>
          {% endif %}
        </div>

        <div class="tabular-data">
          <h2> On Hold </h2>
          {% if oh_cnt > 0 %}
          <table style="width:100%">
            <tr>
                <th style="width: 5%"> </th>
                <th style="width: 75%; text-align: left;"> Title </th>
                <th style="width: 15%"> Score </th>
                <th style="width: 5%"> </th>
            </tr>
            {% for g in oh_list %}
            <tr>
                <td style="text-align: center;"> <img src="{% static g.game_id.img_local_link %}" class="game-list-image"> </td>
                <td> {{ g.game_id.title }} {% if g.review != '' %} <p class="review-paragraph"> {{ g.review }} </p> {% endif %} </td>
                <td style="text-align: center;"> {% if g.score > 0 and g.score < 11 %} {{ g.score }} {% endif %} </td>
                <td style="text-align: center;"> <a href="javascript:void(0);" onclick="showPrompt(this)" game-id="{{ g.id }}">Edit</a> </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1 style="text-align: center; color: grey;"> YOU HAVE NO GAMES SET ASIDE </h1>
          {% endif %}
        </div>

        <div class="tabular-data">
          <h2> Planning to Play </h2>
          {% if ptp_cnt > 0 %}
          <table style="width:100%">
            <tr>
                <th style="width: 5%"> </th>
                <th style="width: 75%; text-align: left;"> Title </th>
                <th style="width: 15%"> Score </th>
                <th style="width: 5%"> </th>
            </tr>
            {% for g in ptp_list %}
            <tr>
                <td style="text-align: center;"> <img src="{% static g.game_id.img_local_link %}" class="game-list-image"> </td>
                <td> {{ g.game_id.title }} {% if g.review != '' %} <p class="review-paragraph"> {{ g.review }} </p> {% endif %} </td>
                <td style="text-align: center;"> {% if g.score > 0 and g.score < 11 %} {{ g.score }} {% endif %} </td>
                <td style="text-align: center;"> <a href="javascript:void(0);" onclick="showPrompt(this)" game-id="{{ g.id }}">Edit</a> </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1 style="text-align: center; color: grey;"> YOU HAVE NO GAMES PLANNED TO PLAY </h1>
          {% endif %}
        </div>

        <div class="tabular-data">
          <h2> Dropped </h2>
          {% if dr_cnt > 0 %}
          <table style="width:100%">
            <tr>
                <th style="width: 5%"> </th>
                <th style="width: 75%; text-align: left;"> Title </th>
                <th style="width: 15%"> Score </th>
                <th style="width: 5%"> </th>
            </tr>
            {% for g in dr_list %}
            <tr>
                <td style="text-align: center;"> <img src="{% static g.game_id.img_local_link %}" class="game-list-image"> </td>
                <td> {{ g.game_id.title }} {% if g.review != '' %} <p class="review-paragraph"> {{ g.review }} </p> {% endif %} </td>
                <td style="text-align: center;"> {% if g.score > 0 and g.score < 11 %} {{ g.score }} {% endif %} </td>
                <td style="text-align: center;"> <a href="javascript:void(0);" onclick="showPrompt(this)" game-id="{{ g.id }}">Edit</a> </td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <h1 style="text-align: center; color: grey;"> YOU HAVE NOT DROPPED ANY GAMES YET </h1>
          {% endif %}
        </div>
      </div>
    </main>
    <div id="prompt" class="prompt-container">
      <h1 style="margin-top: 5px; text-align: center;"> Edit Submission </h1>
      <form>
        <input type="hidden" name="game_id" value="">
        <div class="submission-basic">
          <div class="status">
            <div class="dropdown-label"><h3> Status: </h3></div>
            <div class="dropdown-styling">
              <div class="dropdown">
                <input class="generic-form-dropdown" type="text" placeholder="Status goes here..." onclick="toggleDropdown(this)" name="status" readonly>
                <ul class="dropdown-options">
                  <li onclick="selectOption(this)">Currently Playing</li>
                  <li onclick="selectOption(this)">Completed</li>
                  <li onclick="selectOption(this)">On Hold</li>
                  <li onclick="selectOption(this)">Planning to Play</li>
                  <li onclick="selectOption(this)">Dropped</li>
                </ul>
              </div>
              <div class="dropdown-icon"></div>
            </div>
          </div>
          <div class="rating">
            <div class="dropdown-label"><h3> Rating: </h3></div>
            <div class="dropdown-styling">
              <div class="dropdown">
                <input class="generic-form-dropdown" type="text" value="Undecided" onclick="toggleDropdown(this)" name="rating" readonly>
                <ul class="dropdown-options">
                  <li onclick="selectOption(this)">Undecided</li>
                  <li onclick="selectOption(this)">(10) Masterpiece</li>
                  <li onclick="selectOption(this)">(9) Excellent</li>
                  <li onclick="selectOption(this)">(8) Very Good</li>
                  <li onclick="selectOption(this)">(7) Good</li>
                  <li onclick="selectOption(this)">(6) Fine</li>
                  <li onclick="selectOption(this)">(5) Average</li>
                  <li onclick="selectOption(this)">(4) Bad</li>
                  <li onclick="selectOption(this)">(3) Very Bad</li>
                  <li onclick="selectOption(this)">(2) Horrible</li>
                  <li onclick="selectOption(this)">(1) Unplayable</li>
                </ul>
              </div>
              <div class="dropdown-icon"></div>
            </div>
          </div>
        </div>
        <h3 style="margin: 2px 0px 3px 0px;"> Review: </h3>
        <textarea class="generic-form-textarea-variant" id="review-area" placeholder="Maybe today's the day to leave a little review?" name="review"></textarea>

        <div class="button-container">
          <button class="generic-button" style="background-color: green;" type="button" onclick="editRecord()"> Submit </button>
          <button class="generic-button" style="background-color: red;" type="button" onclick="deleteRecord()"> Delete </button>
        </div>
      </form>
    </div>
    <div id="overlay" class="overlay"></div>
  </body>
</html>
