{% extends 'base.html' %}
{% block title %}Friends{% endblock %}
{% block content %}

{% if request.session.curr_user != '' %}

<h1>{{ request.session.curr_user }}'s Friends</h1>

<!-- <div id="friends" class="container content-rectangle bg-dark">-->
<!--        <table class="table table-dark table-hover table-borderless table-responsive my-3">-->
<!--        <thead class="border-bottom">-->
<!--        <tr>-->
<!--          <th>Friend</th>-->
<!--          <th>Date Added</th>-->
<!--          <th></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <td>Friend 1</td>-->
<!--          <td>Date 1</td>-->
<!--          <td><button type="button" class="btn btn-danger">Unfriend</button></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>Friend 2</td>-->
<!--          <td>Date 2</td>-->
<!--          <td><button type="button" class="btn btn-danger">Unfriend</button></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

    <div class="card-body p-0">
        <table class="table table-dark table-hover table-borderless table-responsive my-1">
            <thead class="border-bottom">
            <tr>
                <th></th>
                <th>Friend Name</th>
                <th>Date Added</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for friend in friends %}
            <tr class="position-relative align-middle">
                <td scope="row">
                    <a class="stretched-link"
                       href=""></a>
                </td>
                <td class="fs-5">{{ friend.friend_id }}</td>
                <td>{{ friend.date_added }}</td>
                {% if request.session.curr_user == user %}
                <td class="d-flex flex-row-reverse">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger d-flex align-middle py-2"
                                style="z-index:3; position:relative;"
                                data-bs-toggle="modal" data-bs-target="#deleteModal{{friend.friend_id}}">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </div>
                </td>

                <!-- Remove Friend Modal -->
                <div class="modal fade" id="deleteModal{{friend.friend_id}}">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h4>Delete Collection</h4>
                                <button type="button" class="btn-close btn-close-white"
                                        data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure that you want to unfriend "{{ friend.friend_id }}"?
                            </div>
                            <div class="modal-footer">
                                <a href=""
                                   class="btn btn-danger">Confirm</a>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}

            <!-- Add Friend Modal -->
            <form method="post" action="{% url 'user:friends' user=user %}">
                {% csrf_token %}
                <div class="modal fade" id="addFriend">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h4>Add New Friend</h4>
                                <button type="button" class="btn-close btn-close-white"
                                        data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                {{ form.as_p }}
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" name="btnRegister" value="Add">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </tbody>
        </table>
    </div>

<button type="button" class="btn btn-primary mt-2 d-block mx-auto" data-bs-toggle="modal" data-bs-target="#addFriend">Add New Friend</button>

  </div>
<!--<div class="card bg-dark text-light border-light mt-3">-->
<!--  <div class="card-body">This page should contain a list of the user's friend. The user should be able to add and remove friends as well as visit their profile upon clicking.</div>-->
<!--</div>-->

{% else %}

<div class="alert alert-dismissible fade show border border-light">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Info!</strong> You are currently not logged in.
</div>
<h1>Friends</h1>
<div class="card bg-dark text-light border-light mt-3">
  <div class="card-body">This page should contain a list of the user's friend. The user should be able to add and remove friends as well as visit their profile upon clicking.</div>
</div>

{% endif %}

{% endblock %}
