{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

{% if request.session.curr_user != '' %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-dismissible fade show border border-light">
        <button class="btn-close" data-bs-dismiss="alert" type="button"></button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<body>
    <script>
        const greetings = [
            "Taking a look at yourself, ",
            "Reflecting upon yourself, ",
            "Examining your own profile, ",
            "Introspecting into your details, ",
            "Observing your information, ",
            "Exploring your profile, ",
            "Delving into your details, ",
            "Peering into your profile, ",
            "Taking a closer look at you, ",
            "Reviewing your information, ",
            "Analyzing your profile, ",
            "Inspecting your details, ",
            "Exploring who you are, ",
            "Considering your profile, ",
            "Scrutinizing your information, ",
            "Observing your data, ",
        ];

        const randomIndex = Math.floor(Math.random() * greetings.length);

        document.write(`<h1 style="text-align: center">${greetings[randomIndex]}{{ request.session.curr_user }}?   </h1>`);
    </script>

  <br>

<div id="profile" class="card bg-dark text-light border-light">
    <div class="container mt-4 pb-5">
        <form id="profileForm">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" readonly value="{{ user.username }}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" aria-describedby="passwordToggle" readonly value="{{ user.password }}">
                    <button class="btn btn-outline-secondary" type="button" id="passwordToggle" onclick="togglePasswordVisibility()">Show</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" readonly value="{{ user.email }}">
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <textarea class="form-control" id="bio" readonly>{{ user.bio }}</textarea>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <input type="text" class="form-control" id="gender" readonly value="{{ user.get_gender_display }}">
            </div>
            <div class="mb-3">
                <label for="joindate" class="form-label">Join Date</label>
                <input type="text" class="form-control" id="joindate" readonly value="{{ user.join_date|date:'F d, Y P' }}">
            </div>
        </form>
        <br>
        <div style="display: flex; justify-content: center;">
            <button type="button" class="btn btn-primary mt-2 mx-2" data-bs-toggle="modal" data-bs-target="#editProfile">Edit Profile</button>
            <button type="button" class="btn btn-danger mt-2 mx-2" data-bs-toggle="modal" data-bs-target="#deleteProfile">Delete Profile</button>
        </div>
    </div>
</div>

    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var passwordToggle = document.getElementById("passwordToggle");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                passwordToggle.textContent = "Hide";
            } else {
                passwordField.type = "password";
                passwordToggle.textContent = "Show";
            }
        }
    </script>

            <!-- Edit Profile Modal -->
            <form method="post" action="{% url 'user:profile' %}">
                {% csrf_token %}
                <div class="modal fade" id="editProfile">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h4>Add New Friend</h4>
                                <button type="button" class="btn-close btn-close-white"
                                        data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                    {{ form.as_p }}
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" name="btnRegister" value="Submit">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="post" action="{% url 'user:delete_profile' %}">
                {% csrf_token %}
                <div class="modal fade" id="deleteProfile">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h4>Are you sure you want to delete </h4>
                                <button type="button" class="btn-close btn-close-white"
                                        data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-success" name="btnRegister" value="Submit">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

</body>

<!--<h1>User's Profile</h1>-->
<!--<div class="card bg-dark text-light border-light mt-3">-->
<!--  <div class="card-body">This page should contain all the relevant information about the user. If the current user is visiting their own profile, they should have the ability to edit certain information in their profile.</div>-->
<!--</div>-->

{% else %}

<div class="alert alert-dismissible fade show border border-light">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Info!</strong> You are currently not logged in.
</div>
<h1>Profile</h1>
<div class="card bg-dark text-light border-light mt-3">
  <div class="card-body">This page should contain all the relevant information about the user. If the current user is visiting their own profile, they should have the ability to edit certain information in their profile.</div>
</div>

{% endif %}

{% endblock %}
